body {
    margin: 0;
}
 
.slide {
    width: 100%;
    height: 100%;
    display: flex;
    background: black;
    align-items: center;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

.prev {
	opacity: 0;
} 	

.next {
	opacity: 0;
} 	

.visible {
	opacity: 1;
	transition: 0.5s;
}

video {
	max-width: 100%;
 /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
