body {
    margin: 0;
}
 
.slide {
    width: 100%;
    height: 100%;
    background: red;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

.prev {
	opacity: 0;
} 	

.next {
	opacity: 0;
} 	

.visible {
	opacity: 1;
	transition: 0.5s;
}
